<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controller.shop.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.login.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicineController</servlet-name>
        <servlet-class>Controllerr.medicineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controllerr.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyResetPasswordServlet</servlet-name>
        <servlet-class>Controllerr.VerifyResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.login.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.login.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyRegisterController</servlet-name>
        <servlet-class>controller.login.VerifyRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserAjax</servlet-name>
        <servlet-class>Controllerr.SearchUserAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.shop.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerachServiceAjax</servlet-name>
        <servlet-class>controller.shop.SerachServiceAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LazyLoadingServices</servlet-name>
        <servlet-class>controller.shop.LazyLoadingServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesByCateAjax</servlet-name>
        <servlet-class>controller.shop.ServicesByCateAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartController</servlet-name>
        <servlet-class>controller.shop.addToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCardAsyncController</servlet-name>
        <servlet-class>controller.shop.addToCardAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.admin.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewSettingController</servlet-name>
        <servlet-class>controller.admin.addNewSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentSubmit</servlet-name>
        <servlet-class>controller.service.CommentSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServiceController</servlet-name>
        <servlet-class>controller.service.FilterServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>controller.service.ServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservationInformationCustomer</servlet-name>
        <servlet-class>controller.reservationCustomer.reservationInformationCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListControllers</servlet-name>
        <servlet-class>controller.admin.SettingListControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderAdminController</servlet-name>
        <servlet-class>controller.admin.HeaderAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservationInformation</servlet-name>
        <servlet-class>controller.reservationCustomer.reservationInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceByCategoryController</servlet-name>
        <servlet-class>controller.service.ServiceByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>controller.service.SearchService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BySuccessController</servlet-name>
        <servlet-class>controller.reservation.BySuccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceReServationController</servlet-name>
        <servlet-class>controller.reservation.DeleteServiceReServationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservationController</servlet-name>
        <servlet-class>controller.reservation.MyReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberOfChildren</servlet-name>
        <servlet-class>controller.reservation.NumberOfChildren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationContactController</servlet-name>
        <servlet-class>controller.reservation.ReservationContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailController</servlet-name>
        <servlet-class>controller.reservation.ReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddnewSetting</servlet-name>
        <servlet-class>controller.admin.AddnewSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewChildrenController</servlet-name>
        <servlet-class>controller.shop.AddNewChildrenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.blog.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.shop.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReservationController</servlet-name>
        <servlet-class>controller.reservation.EditReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReservationController</servlet-name>
        <servlet-class>controller.reservationCustomer.DeleteReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReservationInformation</servlet-name>
        <servlet-class>controller.reservationCustomer.EditReservationInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReservationServlet</servlet-name>
        <servlet-class>controller.reservation.SubmitReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalExaminationServlet</servlet-name>
        <servlet-class>controller.manager.MedicalExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExminationServlet</servlet-name>
        <servlet-class>controller.manager.InfoExminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExaminationServlet</servlet-name>
        <servlet-class>controller.manager.AddExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineToCardServlet</servlet-name>
        <servlet-class>controller.manager.AddMedicineToCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicineCardServlet</servlet-name>
        <servlet-class>controller.manager.DeleteMedicineCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveExaminationServlet</servlet-name>
        <servlet-class>controller.manager.SaveExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LazyLoadMedicineServlet</servlet-name>
        <servlet-class>controller.manager.LazyLoadMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMedicineByCategoryServlet</servlet-name>
        <servlet-class>controller.manager.LoadMedicineByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMedicineAjaxServlet</servlet-name>
        <servlet-class>controller.manager.SearchMedicineAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListDAO</servlet-name>
        <servlet-class>DAO.FeedbackListDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagerServlet</servlet-name>
        <servlet-class>controller.manager.FeedbackManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationListController</servlet-name>
        <servlet-class>controller.staff.ReservationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>Controllerr.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>Controllerr.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailServlet</servlet-name>
        <servlet-class>Controllerr.FeedbackDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <servlet-class>Controllerr.FilterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackDetailServlet</servlet-name>
        <servlet-class>Controllerr.FeedBackDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerAjax</servlet-name>
        <servlet-class>Controllerr.SearchCustomerAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySlider</servlet-name>
        <servlet-class>controller.slidermanager.CategorySlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderDetailManager</servlet-name>
        <servlet-class>controller.slidermanager.EditSliderDetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSliderManager</servlet-name>
        <servlet-class>controller.slidermanager.ListSliderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSliderManager</servlet-name>
        <servlet-class>controller.slidermanager.SearchSliderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSliderDetailManager</servlet-name>
        <servlet-class>controller.slidermanager.ShowSliderDetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServiceManager</servlet-name>
        <servlet-class>.CategoryServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerchServiceManager</servlet-name>
        <servlet-class>servicelist.manager.SerchServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListManager</servlet-name>
        <servlet-class>servicelist.manager.ServiceListManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServiceDetailmanager</servlet-name>
        <servlet-class>servicelist.manager.ShowServiceDetailmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServiceManager</servlet-name>
        <servlet-class>.SortServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServiceManagerTitle</servlet-name>
        <servlet-class>servicelist.manager.SortServiceManagerTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortserviceManagerDiscountprice</servlet-name>
        <servlet-class>controller.ServiceManager.SortserviceManagerDiscountprice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>PostController.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailManagerController</servlet-name>
        <servlet-class>controller.staff.ReservationDetailManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservationServlet</servlet-name>
        <servlet-class>controller.staff.CancelReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessReservationServlet</servlet-name>
        <servlet-class>controller.manager.SuccessReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>controller.manager.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCustomerList</servlet-name>
        <servlet-class>controller.reservation.MyCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorMedicalexammination</servlet-name>
        <servlet-class>controller.reservation.DoctorMedicalexammination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMedicalexammination</servlet-name>
        <servlet-class>Controllerr.UserMedicalexammination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceManager</servlet-name>
        <servlet-class>controller.ServiceManager.ListServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServiceDetailManager</servlet-name>
        <servlet-class>controller.ServiceManager.ShowServiceDetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceManager</servlet-name>
        <servlet-class>controller.ServiceManager.SearchServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceDetailManager</servlet-name>
        <servlet-class>controller.ServiceManager.EditServiceDetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceManager</servlet-name>
        <servlet-class>controller.ServiceManager.DeleteServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewServiceManager</servlet-name>
        <servlet-class>controller.ServiceManager.AddNewServiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServiceManage</servlet-name>
        <servlet-class>controller.ServiceManager.CategoryServiceManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicineController</servlet-name>
        <url-pattern>/medicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>Controllerr.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>Controllerr.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>Controllerr.AddNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>Controllerr.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterUserServlet</servlet-name>
        <servlet-class>Controllerr.FilterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyRegisterController</servlet-name>
        <url-pattern>/verifyregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/AdminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserAjax</servlet-name>
        <url-pattern>/searchajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/Admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/servicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerachServiceAjax</servlet-name>
        <url-pattern>/searchserviceajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LazyLoadingServices</servlet-name>
        <url-pattern>/lazyloadingservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesByCateAjax</servlet-name>
        <url-pattern>/servicesbycate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartController</servlet-name>
        <url-pattern>/addtocard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCardAsyncController</servlet-name>
        <url-pattern>/addtocardasync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/user_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/add_new_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterUserServlet</servlet-name>
        <url-pattern>/filteruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyResetPasswordServlet</servlet-name>
        <url-pattern>/verifyresetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/Admin/settingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/Admin/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewSettingController</servlet-name>
        <url-pattern>/Admin/addnewsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentSubmit</servlet-name>
        <url-pattern>/commentsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServiceController</servlet-name>
        <url-pattern>/filter-service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/service-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservationInformationCustomer</servlet-name>
        <url-pattern>/reservationinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListControllers</servlet-name>
        <url-pattern>/Admin/setting-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderAdminController</servlet-name>
        <url-pattern>/Admin/Header_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservationInformation</servlet-name>
        <url-pattern>/Reservationinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceByCategoryController</servlet-name>
        <url-pattern>/servicesbycategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/serchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BySuccessController</servlet-name>
        <url-pattern>/buysuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceReServationController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservationController</servlet-name>
        <url-pattern>/myreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumberOfChildren</servlet-name>
        <url-pattern>/numofchildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationContactController</servlet-name>
        <url-pattern>/reservation-contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailController</servlet-name>
        <url-pattern>/reservation-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddnewSetting</servlet-name>
        <url-pattern>/Admin/Addnewsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewChildrenController</servlet-name>
        <url-pattern>/addnewchildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blogs-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogs-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReservationController</servlet-name>
        <url-pattern>/edit-reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReservationController</servlet-name>
        <url-pattern>/deletereservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReservationInformation</servlet-name>
        <url-pattern>/edit-reservationinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReservationServlet</servlet-name>
        <url-pattern>/submitreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalExaminationServlet</servlet-name>
        <url-pattern>/medicalexamination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExminationServlet</servlet-name>
        <url-pattern>/addexamination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExaminationServlet</servlet-name>
        <url-pattern>/addmedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineToCardServlet</servlet-name>
        <url-pattern>/addmedicinetocard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicineCardServlet</servlet-name>
        <url-pattern>/deletemedicinecard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveExaminationServlet</servlet-name>
        <url-pattern>/saveexamination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LazyLoadMedicineServlet</servlet-name>
        <url-pattern>/lazyloadingmedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMedicineByCategoryServlet</servlet-name>
        <url-pattern>/medicinebycate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMedicineAjaxServlet</servlet-name>
        <url-pattern>/searchmedicineajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListDAO</servlet-name>
        <url-pattern>/FeedbackListDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagerServlet</servlet-name>
        <url-pattern>/FeedbackManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationListController</servlet-name>
        <url-pattern>/ReservationListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/customer_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailServlet</servlet-name>
        <url-pattern>/feedback-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <url-pattern>/filltercustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackDetailServlet</servlet-name>
        <url-pattern>/feedbackdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerAjax</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySlider</servlet-name>
        <url-pattern>/categoryslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderDetailManager</servlet-name>
        <url-pattern>/editsliderdetailmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSliderManager</servlet-name>
        <url-pattern>/listslidermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSliderManager</servlet-name>
        <url-pattern>/searchslidermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSliderDetailManager</servlet-name>
        <url-pattern>/showslidedetailmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerchServiceManager</servlet-name>
        <url-pattern>/serchservicemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListManager</servlet-name>
        <url-pattern>/servicelistmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServiceDetailmanager</servlet-name>
        <url-pattern>/showservicedetailmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServiceManager</servlet-name>
        <url-pattern>/sortservicemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServiceManagerTitle</servlet-name>
        <url-pattern>/sortservicemanagertitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortserviceManagerDiscountprice</servlet-name>
        <url-pattern>/sortservicemanagerdiscountprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/post-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailManagerController</servlet-name>
        <url-pattern>/ReservationDetailController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservationServlet</servlet-name>
        <url-pattern>/cencalreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessReservationServlet</servlet-name>
        <url-pattern>/successreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/PostListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCustomerList</servlet-name>
        <url-pattern>/MyCustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorMedicalexammination</servlet-name>
        <url-pattern>/DoctorMedicalexammination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMedicalexammination</servlet-name>
        <url-pattern>/UserMedicalexammination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceManager</servlet-name>
        <url-pattern>/ListServiceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServiceDetailManager</servlet-name>
        <url-pattern>/ShowServiceDetailManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceManager</servlet-name>
        <url-pattern>/SearchServiceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceDetailManager</servlet-name>
        <url-pattern>/EditServiceDetailManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceManager</servlet-name>
        <url-pattern>/DeleteServiceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewServiceManager</servlet-name>
        <url-pattern>/AddNewServiceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServiceManage</servlet-name>
        <url-pattern>/categoryservicemanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
